ArticutAPI==1.2.2
azure-cognitiveservices-vision-customvision==3.1.0
bert-score==0.3.12
bertopic==0.11.0
ckip-transformers==0.2.8
datasets==2.1.0
dvc==2.43.2
fsspec==2022.11.0
dvc-ssh==2.21.0
editdistance==0.6.0
gensim==4.1.2
google-cloud-storage==2.2.1
google-cloud-translate==3.7.2
google-cloud-vision==2.7.2
hdbscan==0.8.28
ipykernel==6.9.2
ipywidgets==7.7.0
jaal==0.1.2
jieba==0.42.1
joblib==1.1.0
jupyter==1.0.0
keras==2.8.0
matplotlib==3.5.1
moverscore==1.0.3
networkx==2.7.1
nltk==3.7
numpy==1.22.4
pandas==1.4.1
opencc-python-reimplemented==0.1.6
pdf2image==1.16.0
poppler-utils==0.1.0
pysbd==0.3.4
python-docx==0.8.11
pytorch_lightning==1.7.6
pytorch-metric-learning==1.6.2
rouge-score==0.0.4
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
sentence-transformers==2.2.2
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.64.0
transformers==4.17.0
umap-learn==0.5.3
wordcloud==1.8.1
zhon==1.1.5
